<div class="col-xs-3 col-md-3 login-container">
    <div class="login-msg" ng-show="User.authType == 'anon'">Login to save or retreive lists</div>
    <div ng-show="User.authType == 'anon'">
        <a href="#" ng-click="fbLogin('facebook')" class="social-login"><span class="fa fa-facebook fa-2x"></span></a>
        <a href="#" ng-click="fbLogin('twitter')" class="social-login"><span class="fa fa-twitter fa-2x"></span></a> 
    </div>
    <div ng-show = "User.authType != 'anon'" class="logged-in">
        <span class="fa fa-{{User.authType}} fa-2x"></span><span class="username">{{User.uname.displayName}}</span>
    </div>
</div>


<div class="col-xs-9 col-md-9">
<div class="add-new-link">
    <a href="/" ng-click="addLink()"><span class="glyphicon glyphicon-plus"></span> Add a new link</a>
</div>

<form name="newLinkForm">
    <div ng-show="addNewSection" class="ng-cloak new-link-section">
        <div class="form-group">
            <input name="title" class="form-control" type="text" required ng-model="newRecord.title" placeholder="Add a title..." ng-class="{error: newLinkForm.title.$invalid && newLinkForm.title.$dirty}">
        </div>

        <div class="form-group">
            <textarea name="link" class="form-control" type="text" required ng-model="newRecord.link" placeholder="Add a link or description..." ng-class="{error: newLinkForm.link.$invalid && newLinkForm.link.$dirty}"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="saveLink()" ng-disabled="newLinkForm.$invalid">Save</a>
        </div>
        <!--add url and reqd validation-->
    </div>
</form>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="link in Links | filter: hasTitle" ng-init="hiddenDiv = false">
    <div ng-hide="hiddenDiv">
        <a target="_blank" href="{{link.link}}">{{link.title}}</a>
        <div  class="pull-right">
            <a href="/" ng-show="edit" ng-click="hiddenDiv =! hiddenDiv"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="/" ng-click="removeLink(link)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="ng-cloak" ng-show="hiddenDiv" >
        <input type="text" class="form-control edit-link" ng-model="link.title" ng-model="newRecord.title">
        <div  class="pull-right edit-controls">
            <a href="/"  ng-click="hiddenDiv =! hiddenDiv;editLink(link)"><span class="glyphicon glyphicon-ok"></span></a>
            <a href="/" ng-click="removeLink(link)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>

        <div>
            <input type="text" class="form-control edit-link" ng-model="link.link" ng-model="newRecord.link">
        </div>
    </div>
    </li>
</ul>
<div ng-show="Links.length" ng-init="shareOpts = false">
    <div  class="share-list">
        <a href="/" ng-click="shareOpts = !shareOpts;shareList()"><span class="glyphicon glyphicon-share"></span> Share</a>
    </div>
    <div ng-show="shareOpts" class="share-section clear">
        <input type="text" class="form-control" ng-value="location.absUrl() +'#/'+ uid">
        <div class="social-share-options">

            <div class="social-share-option">
                <a href="#"
                    socialshare
                    socialshare-provider="facebook"
                    socialshare-text="Checkout my list on Lister"
                    socialshare-url="{{ location.absUrl() +'#/'+ uid }}">
                    <span class="fa fa-facebook"></span> Facebook
                </a>
            </div>

            <div class="social-share-option">
                <a href="#"
                    socialshare
                    socialshare-provider="twitter"
                    socialshare-text="Checkout my list on Lister"
                    socialshare-url="{{ location.absUrl() +'#/'+ uid }}">
                    <span class="fa fa-twitter"></span> Twitter
                </a>
            </div>
            <div class="clear"></div>
        </div>     
 
    <!--
        <div fb-like></div>
        <div facebook data-name='Fb Share' data-url='http://google.com' data-picture-url='http://plnk.co/img/plunker.png' data-caption='Testing Facebook Shae' data-shares='shares'> <a href>Share To facebook<a> <p>Number of Shares: {{shares}}</p> </div> 
            -->
            </div>
</div>
<div class="save-msg-container" ng-show="showSaveMessage">
    <span class="glyphicon glyphicon-ok save-icon"></span>
    <div class="save-msg">Data saved successfully</div>
</div>
