
<div class="add-new-link">
    <a href="#/" ng-click="addLink()"><span class="glyphicon glyphicon-plus"></span> Add a new link</a>
</div>

<div ng-show="addNewSection" class="ng-cloak new-link-section">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="newRecord.title" placeholder="Add a title...">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" ng-model="newRecord.link" placeholder="Add a link...">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="saveLink()">Save</a>
    </div>
    <!--add url and reqd validation-->
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="link in Links | filter: hasTitle" ng-init="hiddenDiv = false">
    <div ng-hide="hiddenDiv">
        <a target="_blank" href="{{link.link}}">{{link.title}}</a>
        <div  class="pull-right">
            <a href="#/" ng-show="edit" ng-click="hiddenDiv =! hiddenDiv"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#/" ng-click="removeLink(link)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>

    <div class="ng-cloak" ng-show="hiddenDiv" >
        <input type="text" class="edit-link" ng-model="link.title" ng-model="newRecord.title">
        <div  class="pull-right">
            <a href="#/"  ng-click="editLink();hiddenDiv =! hiddenDiv"><span class="glyphicon glyphicon-ok"></span></a>
            <a href="#/" ng-click="removeLink(link)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>

        <div>
            <input type="text" class="edit-link" ng-model="link.link" ng-model="newRecord.link">
        </div>
    </div>
    </li>
</ul>

<a href="#" ng-click="fbLogin()">Login with Facebook</a> 


